@import "tailwindcss";
@plugin "@iconify/tailwind4";

.floor-plan-grid {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-template-rows: repeat(3, minmax(0, 1fr));
  grid-template-areas:
    'conference conference . servers security'
    ' reception reception . . .'
    ' reception reception  . staff vault';
  background-image: url('assets/OIG1.jpg');
}

.conference {
  grid-area: conference;
}

.servers {
  grid-area: servers;
}

.security {
  grid-area: security;
}

.reception {
  grid-area: reception;
}

.staff {
  grid-area: staff;
}

.vault {
  grid-area: vault;
}

@media (max-width: 900px) {
  .floor-plan-grid {
    grid-template-rows: repeat(4, minmax(0, 1fr));
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-areas:
    'conference conference conference conference'
    'servers servers security security '
    'reception reception  reception reception '
    'staff staff  vault vault';
  }
  
}

@media (max-width: 600px){
    .base{
    flex-direction: column;
  };

  .floor-plan-grid {
    grid-template-rows: repeat(6, minmax(0, 1fr));
   grid-template-areas:
    'conference  conference conference conference conference'
    'servers  servers servers servers servers '
    'security security security security security '
    'reception reception reception reception reception'
    'staff staff staff  staff staff'
    'vault vault vault vault vault';  
  }
}