@import "tailwindcss";
@plugin "@iconify/tailwind4";

.floor-plan-grid {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-template-rows: repeat(3, minmax(0, 1fr));
  grid-template-areas:
    'conference conference . servers security'
    'reception reception . . .'
    'reception reception . staff vault';
  background-image: url('assets/OIG1.jpg');
  min-height: 600px;
  height: 100%;
}

.conference {
  grid-area: conference;
}

.servers {
  grid-area: servers;
}

.security {
  grid-area: security;
}

.reception {
  grid-area: reception;
}

.staff {
  grid-area: staff;
}

.vault {
  grid-area: vault;
}

.overlay {
  animation: pulseFade 1s infinite ease-in-out;
}

@keyframes pulseFade {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 0.2;
  }
}

/* Tablet view */
@media (max-width: 1000px) {
  .floor-plan-grid {
    grid-template-areas:
      'conference conference conference servers security'
      'reception reception reception . .'
      'reception reception reception staff vault';
  }
}

/* Mobile view */
@media (max-width: 600px) {
  .base {
    flex-direction: column;
  }

  .floor-plan-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, minmax(200px, 1fr));
    grid-template-areas:
      'conference'
      'servers'
      'security'
      'reception'
      'staff'
      'vault';
    gap: 8px;
    min-height: auto;
  }

 .sideBar {
    width: 100%;
    height: 50%;
    padding: 12px;
    gap: 8px;
  }

  .workers {
    display: flex;
    gap: 8px;
    overflow-x: auto;
    width: 100%;
    padding: 4px 0;
    scroll-behavior: smooth;
  }

  .workerDiv{
    width: fit-content;
  }

  .base{
    height: auto;
  }

  
}